body {
    font-family:Helvetica;
}

table {
    table-layout:fixed;
    width:70%;
}
th {
  font-size:2vw;
}

td:hover{
  background:gold;
}

.month-header {
    background-image:url('IMG_1581.jpg');
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    height:700px;
    width: 1000px;
    text-align:right;
}

h1 {
    color:#FFF;
    font-size:200%;
    font-weight:700;
    letter-spacing:3px;
    padding-right:50px;
    padding-bottom:150px;
    text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px #000;
    vertical-align:top;
}

.copyright-notice {
    style="color:#FFF;
    font-size:50%;
    padding-right:50px;
    text-align:right;
    text-decoration:none;
    vertical-align:bottom;
    color:white
}

.weekday-header {
    background-color:#999;
    border-color:#ddd;
    border-style:solid;
    letter-spacing:0.5px;
    line-height:25px;
}

.week{
    background-color:#eaeaea;
    height:75px;
    margin:0;
    text-align:left;
    vertical-align:top;
}

.off-day{
    background-color:#ddd;
  }
